<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utt.if26.projetv4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            android:label="ProjetV4" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dico"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.hmkcode.android.ANOTHER_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Def"></activity>
        <activity android:name=".Def2"></activity>
        <activity android:name="PopDef"></activity>
        <activity android:name="PopLex"></activity>
        <activity android:name="ModifDef"></activity>
        <activity android:name="AjoutDef"></activity>
        <activity android:name="AjoutLexique"></activity>
        <activity android:name=".ModifLex"></activity>
    </application>

</manifest>